.skill{
  background: linear-gradient(-20deg, #242424 40%, rgb(0, 0, 0)45%);
  width: 400px;
  height: 200px;
  border: 0.5rem black solid;
  color: white;
  display: flex;
  transition: transform 0.3s;
  border-radius: 0.5rem;
}
.skill:hover{
  transform: scale(1.03);
}
.skill-left{
  width: 50%;

}
.skill-left img{
  width: 100%;

}
.skill-right{
  width: 50%;
  display: flex;
  align-items: center;
flex-direction: column;
  
}

.skill-right h3{
 font-size: 2rem;
 margin: 0;
  
}
.skill-right ul li{
  margin: 0rem 0rem 0.6rem 0rem ;
  word-wrap: break-word;
  
}