.skillContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  

}

.skillSection{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.skillSection h3{
  color: white;
  font-size: 4vw;
  margin-bottom: 1rem;
}

.skillRow{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}