.timelineInstance {
  min-height: 500px;
  font-size: var(--SmallText);

  
}

.timelineInstance-left {
  padding: 2%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  
}

.timelineInstance-right {
  font-weight: var(--regularWeight);
  width: 64%;
  padding: 2%;
  position: absolute;
  right: 0;
  top: 0;
}

.timelineInstance-left-img {
  min-width: 100%;
  border-radius: 0.5rem;
}

.timelineInstance-name {
  margin: 0;
  font-size: var(--bigText);
}

.timelineInstance-name-container,
.timelineInstance-lessons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timelineInstance-type {
  position: absolute;
  right: 4rem;
  top: 4rem;
  font-weight: var(--strongWeight);
}

.timelineInstance-time {
  position: absolute;
  right: 4rem;
  top: 6rem;
  font-weight: var(--regularWeight);
}

.timelineInstance-location {
  position: absolute;
  left: 4rem;
  top: 6rem;
  font-weight: var(--regularWeight);

}

.timelineInstance-company {
  position: absolute;
  left: 4rem;
  top: 4rem;
  font-weight: var(--strongWeight);
}

.timelineInstance-list {
  position: absolute;
  top: 8rem;
  padding: 2rem;
  margin-left: 2rem;
  font-size: var(--SmallSmallText);
}

.timelineInstance-lessons {
  position: absolute;
  top: 28rem;
  font-weight: var(--strongWeight);
  font-size: var(--SmallSmallText);
}

.timelineInstance-list-item {
  margin: 0.5rem;
}
