

.timeline-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
 
  
  
  

  
  
}

.timeline-container h2{
  display: flex;
  align-items: left;
  flex-direction: column;
  font-size: 12vw;
  margin: 0;
  line-height:10rem;
  text-shadow: rgba(0, 0, 0, 0.6) 5px 5px 10px;
  left: 0;
  z-index: 200;
  color: rgb(255, 255, 255);

}

.timeline-text-top{
  font-weight: 200;
  font-size: 6vw;
}

.timeline-text-bot{
  font-weight: 700;

}
.timelineCollapse{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 200;

  
}
.timeline{
  width: 80%;
  display: flex;
  height: 5vw;
  margin: auto;



 

}

.timeline-item{
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2vw;
  border: 4px solid rgba(255, 255, 255, 0);
  border-right: 0;
  color: #FFF;
}
.timeline-item:hover{
  background-color: rgba(0, 0, 0, 0.632);
}
.timeline-item{
  background-color: rgba(0, 0, 0, 0.632);
}
.timelineOpen{
 
  background: linear-gradient( rgba(0, 0, 0, 0.632),  rgba(0,0,0,0.732));
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: rgb(255, 255, 255);
  padding: 5%;
  gap: 0;
  z-index: 40;
  
  

}
.timelineOpen h3, .timelineOpen p{
  margin: 1vw;
  transform: all 1s;
}

.timelineOpen-placeTime{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  gap:10%;

}

.timelineOpen-notBold{
  font-weight: 200;

}/* 
.timeline-item1, .timeline-item3{
background-color: #0000004b;
}

.timeline-item2{
  background-color: #0000001f;

}

.timeline-item4, .timeline-item5{
  background-color: #00000074;


} */
.timeline-date{
  background-color: rgba(0, 0, 0, 0.132);
  color: rgb(255, 255, 255);
  width: 8%;
  font-size: 2vw;
  
}
.timeline-date2{
  border-right: 0;
}

.timeline-item1{
  width: 12%;

}

.timeline-item2{
  width: 10%;

}

.timeline-item3{
  width: 18%;

}

.timeline-item4{
  width: 30%;

}

.timeline-item5{
  width: 15%;

}

.timeline-item1{
  background-color: #0000003c;

}

.timeline-item2{
  background-color: #0000004d;

}

.timeline-item3{
  background-color: #00000063;

}

.timeline-item4{
  background-color: #00000080;

}

.timeline-item5{
  background-color: #00000093;

}