.MainContent {
  /* background-color: rgb(154, 154, 154); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20rem;

  
  z-index: 0;
  margin: 0;
  position: relative;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgb(0, 0, 0) 20%, white 50%, #632dec 65%, #1e0d47 100%);
  }

