.mailSent-backdrop{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200000;
  display: flex;
  justify-content: center;
  align-items: center;


}
.mailSent-modal{

  padding: 2vw;
  font-size: 2.2vw;
  background: linear-gradient(39deg, rgb(21, 218, 21)10%,rgb(10, 191, 115));
  border-radius: 0.5vw;
  color: white;
  text-shadow: inset 5px 5px 5px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  animation: modal-bounce 3s;
}
@keyframes modal-bounce  {
  0%{
    transform: translateY(-50%);
    opacity: 0;
    
  }
  10%{
    transform: translateY(0%);
  }
  20%{
    transform: translateY(-40%);
  }
  30%{
    transform: translateY(0%);
  }
  40%{
    transform: translateY(-30%);
  }
  50%{
    transform: translateY(0%);
  }
  60%{
    transform: translateY(-20%);
  }
  70%{
    transform: translateY(0%);
  }

  75%{
    transform: translateY(-15%);
  }
  80%{
    transform: translateY(0%);
  }
  85%{
    transform: translateY(-10%);
  }
  90%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-5%);

  }

}