.me-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 10rem;
  gap: 5rem;
}



.me-container{
  width: 100%;
  display: flex;

 gap: 5%;
 
  justify-content: center;
  align-items: center
  
 }
 .me-img{
 width: 400px;
  height: auto;
  border-radius: 0.5vw;
 ;


}
.me-img-label{
  background-color: var(--black);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 0vw 0vw 0.5vw 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  padding:0;
  
}
.me-img-label h3{
  margin: 1rem;
}
.me-img-container{
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5vw;
  position: relative;
}
.me-text-container {
  width: 60%;
}
.me-text-container h3{
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 5rem;

}

.me-text-container h4, .me-main-bottom h4{
  margin-top: 0;
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 0rem;

}
.me-text-container p, .me-main-bottom p{
  font-size: 1.2rem;
  line-height: 1.8rem;

}

.me-text-container h5 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 3rem;

}