.login-box {
  width: 800px;
  padding: 40px;
  background: linear-gradient(45deg, black, rgb(44, 44, 44));
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 0.5vw;
}

.login-box h2 {
  font-size: var(--veryBigText);
  margin: 0 0 48px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input,
.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: var( --regularText);
  font-weight: 100;
  color: #fff;
  margin-bottom: 80px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box textarea {
  resize: none;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: var(--SmallText);
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
  top: -36px;
  left: 0;
  color: var(--secondColor);
  font-size: var( --SmallText);
  font-weight: bold;
}


.login-box form button {
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);

  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  
  letter-spacing: 6px;
  border-radius: 5px;

  font-size: 2.2rem;
  padding: 1rem 1.5rem;
  background: linear-gradient(45deg, black, var(--lessBlack));
  border-radius: 0.5vw;
  border: 2px rgba(255, 255, 255, 0.069) solid;
  font-weight: 500;
  transition: all 0.5s;
}

.login-box button:hover {
  background: linear-gradient(
    54deg,
    var(--secondColor) 11%,
    var(--mainColor) 100%
  );
  color: #fff;
  /*  linear-gradient(54deg, rgba(255,51,0,1) 11%, rgba(105,63,255,1) 100%) */
  box-shadow: -5px 5px 10px var(--secondColor), -5px 5px 20px var(--secondColor),
    5px -5px 20px var(--mainColor), 5px -5px 10px var(--mainColor);
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, var(--mainColor));
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--mainColor));
  animation: btn-anim2 2s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, var(--secondColor));
  animation: btn-anim3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--secondColor));
  animation: btn-anim4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
.formButton-container{
  display: flex;
  justify-content: center;

}