html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width:100vw;
  letter-spacing: 0.05rem;
}


@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


:root{
  --mainColor: rgba(105,63,255,1);
  --secondColor: rgba(255,51,0,1);
}